DREAMCHAMBER/GABRIEL/n8n/02_gabriel_command_webhook.json
{
  "name": "External → Gabriel Command Bridge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gabriel-command",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gabriel-command-webhook"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:9090/api/think",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.body.prompt }}\",\n  \"force\": \"{{ $json.body.force || '' }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "2",
      "name": "Ask Gabriel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"gabriel\": $json.stdout\n}"
      },
      "id": "3",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Ask Gabriel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Gabriel": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
