extracted_gdrive/GoogleDrive-rsplowman@icloud.com_infra_n8n-docker_sqlite-backup-20260415-150613_R8SonoGLBV0igqQN_ZAP_4_Health_Monitor_Alert_Pipeline.json
{
  "name": "ZAP 4: Health Monitor \u2192 Alert Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron4",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:9090/api/status",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health4",
      "name": "Fetch Health Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst down = d.services?.filter(s => s.status !== 'up') || [];\nconst score = d.score || 0;\nif (down.length === 0) return []; // No alert needed\nconst names = down.map(s => s.name).join(', ');\nreturn [{ json: { alert: true, score, down_count: down.length, down_services: names, details: down, ts: new Date().toISOString() } }];"
      },
      "id": "filter4",
      "name": "Filter \u2014 Alert Only If Down",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:7777/speak",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `Health alert. ${$json.down_count} services down: ${$json.down_services}. Score: ${$json.score} percent.` }) }}"
      },
      "id": "speak4",
      "name": "GABRIEL Speak Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:7777/memcell/health:alert:{{ $now.toMillis() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ value: $json }) }}"
      },
      "id": "log4",
      "name": "Log Alert to GABRIEL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        400
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Health Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Health Status": {
      "main": [
        [
          {
            "node": "Filter \u2014 Alert Only If Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter \u2014 Alert Only If Down": {
      "main": [
        [
          {
            "node": "GABRIEL Speak Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Alert to GABRIEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}